<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/invigilator.css">
</head>
<body>

    <header>
        <nav>
            <div class="nav_container">
                <ul class="ul_container">
                    <li>Home</li>
                    <li>Notification</li>
                    <li>Download History</li>
                </ul>
                <ul>
                    <li class="profile_logo"><img src="/icon/default-user.png" alt="" height="30" width="30"></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="subjectsContainer">
      <% data.forEach(user => { %>
      <div class="subjectCard">
        <div class="divsubject">
          <div class="subjectName">
            <%= user.subName %> - <%= user.subCode %>
          </div>
          <button>Download</button>
        </div>
      </div>
      <% }); %>
    </div>
</body>
</html>