<nav>
<div class="nav_container">
  <ul class="ul_container">
      <li id="home">Home</li>
      <li id="users">Users</li>
      <li id="exam">Examiners</li>
      <li id="inv">Invigilator</li>
      <li id="notification">Notification</li>
  </ul>
  <ul>
      <li class="profile_logo" id="profile"><img src="/icon/default-user.png" alt="" height="30" width="30"></li>
  </ul>
</div>
</nav>